@page "/"
@using VODPipeline.UI.Data
@using VODPipeline.UI.Services
@inject VODAPIClient Api

<h3>Pipeline Status</h3>

@if (status == null)
{
    <p>Loading...</p>
}
else
{
    <p>Running: @status.IsRunning</p>
    <p>Current File: @status.CurrentFile</p>
    <p>Stage: @status.Stage</p>
    <p>Percent: @status.Percent</p>
}

@code {
    private JobStatus? status;

    protected override async Task OnInitializedAsync()
    {
        status = await Api.GetStatusAsync();
    }
}